﻿@model string;
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Line Notify Connected</h1>
    <p>@Model</p>
    <button onclick="location.href='@Url.Action("Revoke")'"> Revoke</button>
</div>