﻿@using OAuth.Models;

@model ProfileViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome</h1>
    <p>Name @Model.Name</p>
    <img width="300px" height="300px" src="@Model.Image"/> <br/>
    
@{
    if (string.IsNullOrEmpty(@Model.NotifyToken))
    {
        <a href="@Model.NotifyAuthUrl"> 和LineNotify連動</a>
    }
    else
    {
        <input type="text" id="Message" name="Message" />
        <button id="btnSend"> 發送訊息</button><br/>
        <a asp-area="" asp-controller="Home" asp-action="Revoke">取消LineNotify連動</a>
    }
}
</div>



@section scripts{
    <script>
    $("#btnSend").on("click", function () {
        $.ajax({
            type: "Post",
            url: "/Home/SendMessage",
            data: {
                message: $("#Message").val()
            },
            success: function (result) {
                if (result == true){
                     window.alert("發送成功")
                }else{
                     window.alert("發送失敗")
                }
              
            }
        })
    })
</script>
}
