﻿@using SimpleLogin.Backend.Models;

@model LineProfileResponse
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Line Logined</h1>
    <h2>name:  @Model.DisplayName</h2>
    <img src="@Model.PictureUrl"/>
    <a href="@ViewData["notifyUrl"]"> connect to notify</a>
    <p> your token is @ViewData["notifyUrl"]</p>
</div>