﻿@model string;
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Login to Line</h1>
    <button class="line" onclick="window.location.href = '@Model'">  </button>
</div>

<style>
    .line {
        width: 151px;
        height: 44px;
        border:none;
        background: url(img/btn_login_base.png) no-repeat;
    }
    .line:hover {
 
        background: url(img/btn_login_hover.png) no-repeat;
    }
    .line:active {
        border: none;
        background: url(img/btn_login_press.png) no-repeat;
    }

</style>
